body{
}

img.effect-icon{
	width: 42;
	height: 42;
}

.allocation-box{
	border-style: solid;
	border-width: 1pt;
	padding: 6pt;
}

.bed{
	/* margin: 10pt; */

	display: inline-block;
	border-style: solid;
	border-width: 1pt;
	width: 38pt;
	height: 38pt;
	margin: 3pt;
}

.label-bed-container{
	display: inline-block;
	align-content: center;
}

.label-bed-label{
	align-content: center;
}


.draggables{
	font-size: 16pt;
	display: inline-block;
	position: relative;
	border: 1px solid powderblue;
	width: 32pt;
	height: 32pt;
	text-align: center;
    vertical-align: middle;
}

img.effects-icon{
	width: 48pt;
	height: 48pt;
}
