{% extends 'base.html' %}
{% load static %}


{% block script %}

<script src="/static/js/vue.js" charset="utf-8"></script>
<script type="text/javascript">

{% include "rules.js" %}

characters = {
	{% for character in characters %}
		{{character.pk}}: {% include "character.js" %},
	{% endfor %}
};

onload = function(){
	app = new Vue({
		el: '#app',

		data: {
			rules : rules,
			characters: characters,
			
		},
	});
}

</script>
<script src="/static/js/character_view.js" charset="utf-8"></script>
<script src="/static/js/gm_session.js" charset="utf-8"></script>

{% endblock %}


{% block content %}

<div class="container">
	<div id="app">
		<div v-for="c in characters">
			<character-view
				:rules="rules"
				:character="c"></character-view>
		</div>
	</div>
</div>
{% endblock %}

