{% extends 'base.html' %}
{% load static %}

{% block title %}New Campaign{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />

<script src="/static/js/vue.js" charset="utf-8"></script>

<script type="text/javascript">

character = {};
character.base_statistics = {};
character.classes = [];
character.name = 'Clarg';

rules = {};

rules.modifier_map = [
	03 , -3, //3 and under, map to -3
	05 , -2, // under 5, map to -2
	08 , -1,
	12 , 0,
	15 , 1,
	17 , 2,
	18 , 3,
]

rules.class_collections_order = [
	{% for cc in class_collections %}
		{{cc.class_collection.pk}},
	{% endfor %}
];

rules.class_collections = {
	{% for cc in class_collections %}
		{{cc.class_collection.pk}}: {
			name: "{{cc.class_collection.name}}",
			short_description: "{{cc.class_collection.short_description}}",
			classes: [
				{% for c in cc.classes %}
					{{c.pk}},					
				{% endfor %}
				],
		},
	{% endfor %}
};

rules.classes = {
{% for cc in class_collections %}
	{% for c in cc.classes %}
		{{c.pk}} : {
			name: "{{c.name}}",
			description: "{{c.short_description}}",
			modifiers: {
			{% for m in c.statistic_modifiers.get_all_modifiers %}
				{{ m.statistic_pk }}: {{m.value}},
			{% endfor %}						
			},
			class_effects: [
			{% for e in c.class_effects.all %}
				{{ e.pk }},
			{% endfor %}
			],
			hp_bonus: {{c.hp_bonus}},
			class_collection_pk: {{cc.class_collection.pk}},
		},
	{% endfor %}
{% endfor %}
}

rules.statistics = {
	{% for s in stat_list %}
		{{s.pk}}: {
			name: "{{s.name}}",
			description: "{{s.description}}",
		},
	{% endfor %}
}; //end statistic dict

rules.statistics_order = [
	{% for s in stat_list %}
		{{s.pk}},
	{% endfor %}
];


rules.effects = {
	{% for e in effects_list %}
		{{e.pk}}: {
			name: "{{e.name}}",
			description: "{{e.description}}",
			icon_url: "{{e.icon_url}}",
		},
	{% endfor %}
};

rules.allocatable_stat_values = [ 4, 8, 11, 23];

campaign_pk = {{campaign.pk}};
campaign_access_code = "{{campaign.access_code}}";

</script>
<script src="/static/js/character_view.js" charset="utf-8"></script>
<script src="/static/js/new_character.js" charset="utf-8"></script>

{% endblock %}

{% block content %}
<h2>New Character</h2>

<form action="/rpg/create_character_and_redirect/">



{% verbatim %}
<div id="app">

	<div class="container">
		<h4>Statistics</h4>
		<p>Allocate your characters statistics by dragging values into the slots
		bellow...</p>
		<statistic-allocation-box
			:rules="rules"
			:character.sync="character"></statistic-allocation-box>
		<div class="row">

			<div v-for="cc in rules.class_collections_order" class="col-md-6">
				<class-selector
					:cc_pk="cc"
					:rules="rules"
					:character="character">
				</class-selector>
			</div>	

		</div>
		<div class="row">

		<new-character-view
				:rules="rules"
				:character="character">
		</new-character-view>

		</div>
	</div>

	<input
		name="character_name"
		id="character_name"
		v-model="character.name" />
	<input
		v-on:click="submit"
		type="button"
		name="submit"
		id="submit"
		value="Create" />

</div> <!-- end of app !-->

</form>
{% endverbatim %}

{% endblock %}
