{% extends 'base.html' %}
{% load static %}
{% block title %}{{character.name}}{% endblock %}

{% block script %}

<script src="/static/js/vue.js" charset="utf-8"></script>
<script charset="utf-8">
	{% include "rules.js" %}
</script>

<script type="text/javascript">

character = {% include "character.js" %};

onload = function(){
	app = new Vue({
		el: '#app',

		data: {
			rules : rules,
			character: character,
			
		},
	});
}

</script>
<script src="/static/js/character_view.js" charset="utf-8"></script>
<script src="/static/js/session.js" charset="utf-8"></script>

{% endblock %}

{% block content %}
<div class="container">
	<div id="app">
		<character-view
			:rules="rules"
			:character="character"></character-view>
	</div> {#end app#}
</div>
{% endblock %}
